<%= form_for(@user, url: yield(:path)) do |f| %>
  <%= f.label :name %>
  <p class="text-danger"><%= show_errors(@user, :name) %></p>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email %>
  <p class="text-danger"><%= show_errors(@user, :email) %></p>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <p class="text-danger"><%= show_errors(@user, :password) %></p>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation %>
  <p class="text-danger"><%= show_errors(@user, :password_confirmation) %></p>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>